# Created by https://www.gitignore.io/api/macos,phpstorm,phpstorm+all,phpcodesniffer
# Edit at https://www.gitignore.io/?templates=macos,phpstorm,phpstorm+all,phpcodesniffer

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### PHPCodeSniffer ###
# CodeSniffer

/vendor/*
/wpcs/*

# CMake
cmake-build-*/

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

.idea/

# Reason: https://github.com/joeblau/gitignore.io/issues/186#issuecomment-249601023

*.iml
modules.xml
.idea/misc.xml
*.ipr

## Custom
build
phpcs.xml
phpunit.xml
.phpunit.*

# End of https://www.gitignore.io/api/macos,phpstorm,phpstorm+all,phpcodesniffer
